src/main/resources/xsd/entries.xsd

<?xml version="1.0"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:mg="http://magnit.com/magnitapp/model"
        targetNamespace="http://magnit.com/magnitapp/model"
        elementFormDefault="qualified">

    <xs:element name="entries">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="mg:entry"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name ="entry">
        <xs:sequence>
            <xs:element name="field" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>